.intro{
    display: flex;
    height: 77rem;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name > :nth-child(1){
    font-weight: bold;
    color: var(--black);
    font-size: 3rem;
}

.i-name > :nth-child(2){
    font-weight: bold;
    color: var(--purple);
    font-size: 3rem;
}

.i-name > :nth-child(3){
    font-weight: bold;
    color: gray;
    font-size: 16px;
    margin-top: 10px;
}

.i-button{
    height: 2rem;
    width: 6rem;
}

.i-icons{
    display: flex;
    margin-top: 3rem;
    gap: 0rem;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}


.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

/* .i-right>:nth-child(1){
    transform: scale(0.58);
    left: -25%;
    top: -3%;
}

.i-right>:nth-child(2){
    top: -4.9rem;
    transform: scale(0.56);
    left: -6rem;
} */

.i-right>:nth-child(1){
    transform: scale(0.7);
    left: 20%;
    top: -2rem;
}

.i-right>:nth-child(2){
    transform: scale(0.5);
    top: -5%;
    left: -24%;
    border-radius: 50%;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    top: -3%;
    left: 56%;
    z-index: -9;
    background: #edd0ff;
    filter: blur(72px);
}

@media screen and (max-width: 480px){
    .intro{
        flex-direction: column;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem;
    }
    .i-right .blur{
        display: none;
    }
   
}